In [9]:
from Movie import Movie
from MovieList import MovieList

import pandas as pd
import numpy as np

from pathlib import Path

import asyncio

In [10]:
movies = MovieList()
Top_250_movies = movies.get_top250_mov()
Top_250_movies

     Top               Movie Title   MovieID
0      1  The Shawshank Redemption   0111161
1      2             The Godfather   0068646
2      3           The Dark Knight   0468569
3      4     The Godfather Part II   0071562
4      5              12 Angry Men   0050083
..   ...                       ...       ...
245  246                  Jai Bhim  15097216
246  247                   Aladdin   0103639
247  248                    Gandhi   0083987
248  249                  The Help   1454029
249  250      Beauty and the Beast   0101414

[250 rows x 3 columns]

In [11]:
# Top_250_movies[''] = Movie()

In [12]:
# df_row_join = pd.DataFrame(columns=['Rating', 'Year', 'Languages', 'Genres', 'Plot', 'Directors', 'Actors'])
# for _id in Top_250_movies['MovieID']:
#     movie = Movie(_id)
#     row = movie.movie_row
#     df_row_join.loc[len(df_row_join)] = row
# df_row_join

In [13]:
id0 = Top_250_movies['MovieID'][0]

In [14]:
movie = Movie(movie_id=id0)
# movie.movie_row

In [15]:
for gg in Top_250_movies:
    print(gg)

Top
Movie Title
MovieID

In [16]:
%%time
list_df = []
list_df2 = []
for _id in Top_250_movies['Top']:
    movie = Movie(movie_id=Top_250_movies['MovieID'][_id-1])
    n_movie = Movie(movie_id=Top_250_movies['MovieID'][_id-1])
    b_movie = Movie(movie_id=Top_250_movies['MovieID'][_id-1])
    row = movie.get_movie_row()
    list_df.append(row)
    row2 = n_movie.get_movie_sent_emo_row()
    list_df2.append(row2)
    # if not Path(f"data/all_indiv/{Top_250_movies['Movie Title'][_id-1]}.csv").is_file():
    df_reviews = b_movie.get_movie_review_df()
    df_reviews.to_csv(f"data/all_indiv/{Top_250_movies['Movie Title'][_id-1]}.csv", index=False)
    print(_id, end=', ')
print()
df_row_join = pd.DataFrame(list_df, columns=['Rating', 'Year', 'Languages', 'Genres', 'Plot', 'Directors', 'Actors'])
df2_join = pd.DataFrame(list_df2, columns=['Subjectivity', 'Polarity', 'Common Sentiment', 'Emotion Scale'])
df_row_join = df_row_join.join(df2_join)
Top_250_movies_to_csv = Top_250_movies.join(df_row_join)
Top_250_movies_to_csv.to_csv("data/top/Top 250 Movies.csv", index=False)
Top_250_movies_to_csv

1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250,
CPU times: user 2h 43min 14s, sys: 12min 35s, total: 2h 55min 50s
Wall time: 4h 24min 29s

,Top,Movie Title,MovieID,Rating,Year,Languages,Genres,Plot,Directors,Actors,Subjectivity,Polarity,Common Sentiment,Emotion Scale
0,1,The Shawshank Redemption,0111161,9.3,1994,English,Drama,Chronicles the experiences of a formerly succe...,Frank Darabont,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",0.549926,0.303588,Positive,"{'Happy': 0.164, 'Angry': 0.0572, 'Surprise': ..."
1,2,The Godfather,0068646,9.2,1972,"English, Italian, Latin","Crime, Drama","The Godfather ""Don"" Vito Corleone is the head ...",Francis Ford Coppola,"Marlon Brando, Al Pacino, James Caan, Richard ...",0.574209,0.269673,Positive,"{'Happy': 0.1108, 'Angry': 0.05, 'Surprise': 0..."
2,3,The Dark Knight,0468569,9.0,2008,"English, Mandarin","Action, Crime, Drama, Thriller",Set within a year after the events of Batman B...,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",0.536259,0.317979,Positive,"{'Happy': 0.134, 'Angry': 0.0256, 'Surprise': ..."
3,4,The Godfather Part II,0071562,9.0,1974,"English, Italian, Spanish, Latin, Sicilian","Crime, Drama",The continuing saga of the Corleone crime fami...,Francis Ford Coppola,"Al Pacino, Robert Duvall, Diane Keaton, Robert...",0.592063,0.342123,Positive,"{'Happy': 0.138, 'Angry': 0.0368, 'Surprise': ..."
4,5,12 Angry Men,0050083,9.0,1957,English,"Crime, Drama","The defense and the prosecution have rested, a...",Sidney Lumet,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",0.588905,0.212368,Positive,"{'Happy': 0.122, 'Angry': 0.058, 'Surprise': 0..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,246,Jai Bhim,15097216,8.9,2021,"Tamil, Hindi, Telugu","Crime, Drama, Mystery",Rajakannu and his wife Sengeni belong to a low...,T.J. Gnanavel,"Suriya, Lijo Mol Jose, Manikandan K., Rajisha ...",0.600009,0.354810,Positive,"{'Happy': 0.1852, 'Angry': 0.0916, 'Surprise':..."
246,247,Aladdin,0103639,8.0,1992,English,"Animation, Adventure, Comedy, Family, Fantasy,...",Aladdin is a poor street urchin who spends his...,"Ron Clements, John Musker","Scott Weinger, Robin Williams, Linda Larkin, J...",0.568534,0.295137,Positive,"{'Happy': 0.2556, 'Angry': 0.0472, 'Surprise':..."
247,248,Gandhi,0083987,8.1,1982,"English, Hindi","Biography, Drama","In 1893, Mohandas K. Gandhi is thrown off a So...",Richard Attenborough,"Ben Kingsley, Rohini Hattangadi, Roshan Seth, ...",0.482517,0.218215,Positive,"{'Happy': 0.1496, 'Angry': 0.0584, 'Surprise':..."
248,249,The Help,1454029,8.1,2011,English,Drama,"Set in Mississippi during the 1960s, Skeeter (...",Tate Taylor,"Emma Stone, Viola Davis, Bryce Dallas Howard, ...",0.505584,0.122831,Positive,"{'Happy': 0.104, 'Angry': 0.0348, 'Surprise': ..."
249,250,Beauty and the Beast,0101414,8.0,1991,"English, French","Animation, Family, Fantasy, Musical, Romance","Having lived a life in selfishness, young Prin...","Gary Trousdale, Kirk Wise","Robby Benson, Jesse Corti, Rex Everhart, Angel...",0.569984,0.336097,Positive,"{'Happy': 0.2724, 'Angry': 0.0304, 'Surprise':..."

In [17]:
Top_250_movies_to_csv

,Top,Movie Title,MovieID,Rating,Year,Languages,Genres,Plot,Directors,Actors,Subjectivity,Polarity,Common Sentiment,Emotion Scale
0,1,The Shawshank Redemption,0111161,9.3,1994,English,Drama,Chronicles the experiences of a formerly succe...,Frank Darabont,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",0.549926,0.303588,Positive,"{'Happy': 0.164, 'Angry': 0.0572, 'Surprise': ..."
1,2,The Godfather,0068646,9.2,1972,"English, Italian, Latin","Crime, Drama","The Godfather ""Don"" Vito Corleone is the head ...",Francis Ford Coppola,"Marlon Brando, Al Pacino, James Caan, Richard ...",0.574209,0.269673,Positive,"{'Happy': 0.1108, 'Angry': 0.05, 'Surprise': 0..."
2,3,The Dark Knight,0468569,9.0,2008,"English, Mandarin","Action, Crime, Drama, Thriller",Set within a year after the events of Batman B...,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",0.536259,0.317979,Positive,"{'Happy': 0.134, 'Angry': 0.0256, 'Surprise': ..."
3,4,The Godfather Part II,0071562,9.0,1974,"English, Italian, Spanish, Latin, Sicilian","Crime, Drama",The continuing saga of the Corleone crime fami...,Francis Ford Coppola,"Al Pacino, Robert Duvall, Diane Keaton, Robert...",0.592063,0.342123,Positive,"{'Happy': 0.138, 'Angry': 0.0368, 'Surprise': ..."
4,5,12 Angry Men,0050083,9.0,1957,English,"Crime, Drama","The defense and the prosecution have rested, a...",Sidney Lumet,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",0.588905,0.212368,Positive,"{'Happy': 0.122, 'Angry': 0.058, 'Surprise': 0..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,246,Jai Bhim,15097216,8.9,2021,"Tamil, Hindi, Telugu","Crime, Drama, Mystery",Rajakannu and his wife Sengeni belong to a low...,T.J. Gnanavel,"Suriya, Lijo Mol Jose, Manikandan K., Rajisha ...",0.600009,0.354810,Positive,"{'Happy': 0.1852, 'Angry': 0.0916, 'Surprise':..."
246,247,Aladdin,0103639,8.0,1992,English,"Animation, Adventure, Comedy, Family, Fantasy,...",Aladdin is a poor street urchin who spends his...,"Ron Clements, John Musker","Scott Weinger, Robin Williams, Linda Larkin, J...",0.568534,0.295137,Positive,"{'Happy': 0.2556, 'Angry': 0.0472, 'Surprise':..."
247,248,Gandhi,0083987,8.1,1982,"English, Hindi","Biography, Drama","In 1893, Mohandas K. Gandhi is thrown off a So...",Richard Attenborough,"Ben Kingsley, Rohini Hattangadi, Roshan Seth, ...",0.482517,0.218215,Positive,"{'Happy': 0.1496, 'Angry': 0.0584, 'Surprise':..."
248,249,The Help,1454029,8.1,2011,English,Drama,"Set in Mississippi during the 1960s, Skeeter (...",Tate Taylor,"Emma Stone, Viola Davis, Bryce Dallas Howard, ...",0.505584,0.122831,Positive,"{'Happy': 0.104, 'Angry': 0.0348, 'Surprise': ..."
249,250,Beauty and the Beast,0101414,8.0,1991,"English, French","Animation, Family, Fantasy, Musical, Romance","Having lived a life in selfishness, young Prin...","Gary Trousdale, Kirk Wise","Robby Benson, Jesse Corti, Rex Everhart, Angel...",0.569984,0.336097,Positive,"{'Happy': 0.2724, 'Angry': 0.0304, 'Surprise':..."